@model Entities.Concrete.Blog

<div class="single-gd tech-btm">
	<h4>Son Blog</h4>
	<div class="blog-grids">
		<div class="blog-grid-left">
			<a href="~/Blog/BlogDetails/@Model.BlogID">
				<img src="~/resim/@Model.BlogImage" class="img-fluid" style="width: 250px; height: 150px;" alt="">
			</a>
		</div>
		<div class="blog-grid-right">

			<h5>
				<a href="~/Blog/BlogDetails/@Model.BlogID">@Model.BlogTitle</a>
			</h5>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
