@model Entities.Concrete.About
@{
    ViewData["Title"] = "AboutUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Hakkında Bilgileri Düzenle</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Admin/Dashboard/">Ana Sayfa</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/AdminAbout/Index">Hakkında</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Düzenle</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ekle</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("AboutUpdate", "AdminAbout", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">İletişim Maili</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.AboutSmallTitle, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Telefon Numarası</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.AboutLargeTitle, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Adres</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.AboutContent, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.AboutID)
                            </div>
                        </div>
                        <div class="form-group row">
                            <br>
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-primary" type="submit">Bilgileri Güncelle</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{ }

</body>

</html>