<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                @await Component.InvokeAsync("AdminViewProfile")
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="/Admin/Dashboard/"><i class="fa fa-th-large"></i> <span class="nav-label">Panel</span>  </a>
            </li>
            <li>
                <a href="mailbox.html">
                    <i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/AdminMessage/InBox/">Gelen Kutusu</a></li>
                        <li><a href="/AdminMessage/SendBox">Giden Kutusu</a></li>
                        <li><a href="/AdminMessage/NewMessage">Yeni Mesaj Oluştur</a></li>
                    </ul>
            </li>
            <li>
                <a href="/AdminBlog/Index/"><i class="fa fa-comment"></i> <span class="nav-label">Yorumlar</span>  </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/AdminComment/BlogComment/">Blog Yorumları</a></li>
                    <li><a href="/AdminComment/ConsultantComment/">Diyetisyen Yorumları</a></li>
                </ul>
            </li>
            <li>
                <a href="/AdminBlog/Index/">
                    <i class="fa fa-pencil-square-o"></i> <span class="nav-label">Bloglar</span>

                </a>
            </li>
            <li>
                <a href="/AdminAppointment/Index/"><i class="fa fa-calendar"></i> <span class="nav-label">Randevular</span>  </a>
            </li>
            <li>
                <a href="/AdminConsultant/Index/"><i class="fa fa-user-md"></i> <span class="nav-label">Diyetisyenler</span>  </a>
                <a href="/AdminClient/Index/"><i class="fa fa-user"></i> <span class="nav-label">Kullanıcılar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Index/"><i class="fa fa-user-secret"></i> <span class="nav-label">Admin Listesi</span>  </a>
            </li>
            <li>
            <li>
                <a href="/AdminNotification/Index/"><i class="fa fa-bell"></i> <span class="nav-label">Duyurular</span>  </a>
            </li>
            <li>
                <a href="/AdminContact/Index/"><i class="fa fa-phone"></i> <span class="nav-label">İletişim</span>  </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/"><i class="fa fa-pencil-square"></i> <span class="nav-label">Hakkımızda</span>  </a>
            </li>
            <li>
                <a href="~/Blog/Index/"><i class="fa fa-pencil"></i> <span class="nav-label">Siteye Git</span></a>
            </li>
            <li>
                <a href="/Admin/Writer/WriterProfileList/"><i class="fa fa-gear"></i> <span class="nav-label">Ayarlar</span>  </a>
            </li>
            <li>
                <a href="/Login/LogOut"><i class="fa fa-apple"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>

        </ul>
    </div>
</nav>
