@model Entities.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<body>

<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Online Diyetisyen</a>
    </li>
    <li class="breadcrumb-item active">Hakkımızda</li>
</ol>
<!--//banner-->
<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Hakkımızda</h3>
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">

                    <div class="blog_info_left_grid">
                        <a href="single.html">
                            <img src="~/resim/about.jpg" style="width: 800px; height: 450px;" class="img-fluid" alt="">
                        </a>
                    </div>
                    <h3>
                        @Model.AboutLargeTitle
                    </h3>
                    <p>
                        @Model.AboutContent
                    </p>

                </div>
            </div>
            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    @await Html.PartialAsync("~/Views/Blog/PartialSubscribe.cshtml")
                    <div class="tech-btm widget_social">

                        <ul>

                            <li>
                                <a class="twitter" href="#">
                                    <i class="fab fa-twitter"></i>
                                    <span class="count">317K</span> Twitter Takipçi
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span class="count">218k</span> Facebook Takipçi
                                </a>
                            </li>
                            <li>
                                <a class="dribble" href="#">
                                    <i class="fab fa-dribbble"></i>

                                    <span class="count">215k</span> Dribble Takipçi
                                </a>
                            </li>
                            <li>
                                <a class="pin" href="#">
                                    <i class="fab fa-pinterest"></i>
                                    <span class="count">190k</span> Pinterest Takipçi
                                </a>
                            </li>

                        </ul>
                    </div>

                    @await Component.InvokeAsync("RecentBlog")


                </div>

            </aside>
            <!--//right-->
        </div>
    </div>
</section>
<!--//main-->
<!--footer-->
<!---->
<!-- js -->


</body>