<div class="row m-t-lg">
    <div class="col-lg-12">
        <div class="ibox-content text-center">
            <h1>@ViewBag.consultantFullName</h1>
            <div class="m-b-sm">
                <img alt="image" class="rounded-circle" src="~/resim/@ViewBag.image">
            </div>
            <p class="font-bold">Haftanın en çok blog yazanı</p>

            <div class="text-center">
                <a href="" class="btn btn-xs btn-primary">
                    <i class="fa fa-heart"></i>
                </a>
            </div>
        </div>
    </div>
</div>