<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Diyet Dedektifleri</h1>
                <br/>
                <h2 class="font-bold no-margins">
                    Hakkımızda
                </h2>
                <br/>
                <h3>
                    Diyetisyenler ile kullanıcıların uzaktan buluşmasını sağlayıp, insanlara daha sağlıklı hayatlar vaat ediyoruz.
                </h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Blog</h1>
                <h2 class="font-bold no-margins">
                    @ViewBag.v1
                </h2>
                <small>Yazar: @ViewBag.v2</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 yellow-bg">
            <div class="p-m">
                <div class="d-flex align-items-center">
                    <i class="fa fa-try fa-2x mr-2"></i>
                    <h1 class="m-xs mb-0">@ViewBag.TotalPrice</h1>
                </div>
                <h3 class="font-bold no-margins">
                    Diyetisyen Dedektifleri Sitesi Kazancı
                </h3>
                <small></small>
            </div>
        </div>
    </div>
</div>

@section scripts{

}